<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>此应用需要访问您的位置以提供地图服务</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>此应用需要始终访问您的位置</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.fangjunyu.qinote</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Qinote</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
</dict>
</plist>
